/* 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

*/

.body {
  text-align: center;
}

h3 {
  color: dodgerblue;
}

.container {
  vertical-align: middle;
}